@import '../../../../styles//abstracts/variables';
@import '../../../../styles//abstracts/mixins';

.distribution{
    padding: 7rem 4rem;
    background-color: $color-secondary;
    @include respond(sm){
        padding: 7rem 2rem;
    }
    img {
        margin: 4rem auto 2rem auto;
        width: 60%;
        @include respond(md){
            width: 80%;
        }
        @include respond(sm){
            width: 100%;
        }
    }
    &__list{
        margin-top: 40px;
        font-weight: 100;
        text-transform: uppercase;
        letter-spacing: 0.69px;
        font-size: 1.3rem;
        cursor: pointer;
        
        @include respond(lg){
            font-size: 1.1rem;
        }
        @include respond(md){
            font-size: 1.15rem;
        }
        @include respond(sm){
            font-size: 1.6rem;
            flex-direction: column;
        }
        p{
            margin: 10px;
            text-align: center;
            &:hover{
                color: $color-primary;
            }
        }
    }
    &__stores{
        margin-top: 100px;
    }
}