
*{
    font-family: 'IvyMode', sans-serif;
    // font-size: 14px;
    color: #454545;
    margin: 0;
    padding: 0;
}

body{
    position: relative;
}

.subtitle{
    font-family: 'IvyMode', sans-serif;
    font-weight: 100;
    font-style: normal;
    color: $color-primary;
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    @include respond(sm){
        font-size: 2rem;
    }
}

.subtitle--2{
    font-family: 'IvyMode', sans-serif;
    font-weight: 500;
    font-style: normal;
    color: $color-primary;
    font-size: 3.5rem;
    text-align: center;
    
    @include respond(sm){
        font-size: 2.5rem;
    }
}

.subtitle--3{
    font-family: 'IvyMode', sans-serif;
    font-weight: 100;
    font-style: normal;
    color: $color-black;
    font-size: 3rem;
    text-align: center;
    @include respond(sm){
        font-size: 2rem;
    }
}