@font-face {
    font-family: 'IvyMode';
    src: url('../../fonts/IvyMode-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'IvyMode';
    src: url('../../fonts/IvyMode-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'IvyMode';
    src: url('../../fonts/IvyMode-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'IvyMode';
    src: url('../../fonts/IvyMode-SemiBold.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'IvyMode';
    src: url('../../fonts/IvyMode-Bold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'IvyMode';
    src: url('../../fonts/IvyMode-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}


.primary-font {
    font-family: 'IvyMode', sans-serif;
}

.fw-100 {
    font-weight: 100;
    font-style: normal;
}

.fw-200 {
    font-weight: 200;
    font-style: normal;
}

.fw-300 {
    font-weight: 300;
    font-style: normal;
}

.fw-400 {
    font-weight: 400;
    font-style: normal;
}

.fw-500 {
    font-weight: 500;
    font-style: normal;
}
  
  
  
  
  
  
  